@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

html, body {
  height: 100%;
  width: 100%;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(111, 82, 207);
  border-radius: 9px;
  cursor: pointer;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.row{
  margin: 8px 0;
}
.row input{
  width:290px;
  margin: 0;
  padding: 10px ;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
}
