@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Source+Code+Pro:wght@500&display=swap');
body {
    margin: 0;
    padding: 0;
    
}
#main_container {
    margin: 0 auto;
    text-align: left;
    
}
code{
    display: block;
    white-space: pre-wrap
}
.content {
    width: 900px;
    margin: 0 auto;
    
    
}
pre{
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Source Code Pro', monospace;
    color:aliceblue;
    background-color: #333;
}
h1{
    color: red;
}